﻿
@{
    ViewBag.Title = "GirisYap";
}


<head>
    <link href="~/Contect/css/sb-admin.css" rel="stylesheet">
</head>
<div class="container">

    <div class="row" align="center">


        <body class="bg-dark">
            <div class="container">

                <div class="card card-login mx-auto mt-5">
                    <div class="card-header">Giriş Yap</div>
                    <div class="card-body">

                        @using (Html.BeginForm("GirisYap", "Home", FormMethod.Post, htmlAttributes: new { id = "", @class = "was-validated", enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label for="exampleInputEmail1">E-mail Adresi</label>
                                <input class="form-control" id="exampleInputEmail1" type="text" name="KEmail" aria-describedby="emailHelp" placeholder="E-mail Adresinizi girin">
                            </div>
                            if (ViewBag.q != null)
                            {
                                
                                <div class="text-center" style="font-family:'Arial Unicode MS'; color:red;">
                                    @ViewBag.q
                                </div>
                            }
                            <div class="form-group">
                                <label for="exampleInputPassword1">Parola</label>
                                <input class="form-control" id="exampleInputPassword1" name="KParola" type="password" placeholder="Parola Giriniz">
                            </div>
                            if (ViewBag.sifre != null && ViewBag.q == null)
                            {
                                <div class="text-center" style="font-family:'Arial Unicode MS'; color:red;">
                                    @ViewBag.sifre
                                </div>
                            }
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Remember Password
                                    </label>
                                </div>
                            </div>
                            <button type="submit" onclick="return BosKontrol()" class="btn btn-outline-success btn-block">Giriş Yap</button>
                            <br />
                            
                             
                        }

                    </div>
                </div>
            </div>
    </div>
</div>

<script type="text/javascript">
    {
        function BosKontrol() {

            if (document.getElementById("exampleInputEmail1").value == "") {
                alert("E-mail Textbox'ı Boş Bırakılamaz!");
            }
            else if (document.getElementById("exampleInputPassword1").value == "") {
                alert("Parola Textbox'ı Boş Bırakılamaz!");
            }
           
        }


}

</script>
