﻿

@{
    ViewBag.Title = "RandevuAl";
}
@using web_odevii.Models
@model Halisaha

<br /><br />

<div class="container">

    <div class="row">
        <img class="card-img-top img-fluid" src="@Model.HalisahaResimYol" alt="@Model.HalisahaAdi">

    </div>
</div>

<div class="container">

    @using (Html.BeginForm("RandevuAl", "Home", FormMethod.Post, htmlAttributes: new { id = "", @class = "", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.HalisahaID)

        @*Tarih ve Saat Seçimi *@
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <br />
                    <h5 style="text-decoration:solid; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:green;"><b>Bir Tarih Seçin</b></h5>
                    <input name="RandevuTarih" id="datePicker" type="date" style="border-color:limegreen; width:250px; height:40px;" />

                </div>

                <div class="col-lg-6">
                    <br />
                    <h5 style="text-decoration:solid; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:green;"><b>Bir Saat Seçin</b></h5>

                    <div class="was-validated">

                        <select name="RandevuSaati" class="custom-select d-block my-3" required>
                            <option value="">Bir Saat Dilimi Seçiniz</option>
                            @for (int i = 1; i <= 24; i++)
                            {

                                if (i == 24)
                                {
                                    <option value="00">00:00 - 01:00</option>
                                }
                                else
                                {
                                    if (i < 10)
                                    {

                                        if (i + 1 < 10)
                                        {


                                            <option value = "@i" > 0@(i):00 - 0@(i + 1):00 </option>


                                        }
                                        else
                                        {


                                            <option value = "@i" > 0@(i):00 - @(i + 1):00 </option>



                                        }
                                    }
                                    else
                                    {


                                        <option value = "@i" > @i:00 - @(i + 1):00 </option>


                                    }
                                }
                            }

                        </select>
                    </div>

                </div>

            </div>
            <button align="center" type="submit" class="btn btn-outline-success btn-light">Kayıt Et</button>

        </div>


     }



</div>


@*@* JavaScript Kodları *@

<script>
    $.ig.loader({
        scriptPath: "http://cdn-na.infragistics.com/jquery/20141/latest/js/",
        cssPath: "http://cdn-na.infragistics.com/jquery/20141/latest/css/",
        resources: 'igShared, igEditors, igValidator'
    });

    $.ig.loader(function () {
        $("#datePicker").igDatePicker({
            dateDisplayFormat: "date",
            dateInputFormat: "date",
            regional: navigator.language,
            datepickerOptions: {
                changeMonth: true,
                changeYear: true,
            }
        });
        $("#jQueryUIdt").datepicker({
            changeMonth: true,
            changeYear: true
        });
    });

</script>



