﻿
@{
    ViewBag.Title = "Index";

}

@using web_odevii.Models
@model IEnumerable<Halisaha>


<div class="container">
    <div class="row">

        @foreach (var item in Model)
            {
            <div class="col-lg-6">
                <div class="card mt-4 aaalink bg-white">
                    <img class="card-img-top img-fluid" src="@item.HalisahaResimYol" alt="@item.HalisahaAdi">
                    <div class="card-body">


                        @if (Session["kullanici"] != null)
                        {
                            <a href="@Url.Action("RandevuAl","Home",new { id = item.HalisahaID })" style="text-decoration:none;"> <h3 class="card-title">@item.HalisahaAdi </h3></a>
                        }
                        else
                        {
                            <a href="#" style="text-decoration:none;"> <h3 class="card-title">@item.HalisahaAdi </h3></a>

                        }
                        <h4>@item.HalisahaUcret ₺</h4>
                        <p class="card-text">
                            <h6>Adres:</h6>
                            @item.HalisahaAdres
                        </p>

                        <p class="card-text">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <h6>Telefon:</h6>
                            @item.HalisahaTelNo
                        </p><br />
                        @for (int i = 0; i < item.HalisahaRank; i++)
                        {
                            <span class="text-warning">&#9733;</span>
                        }
                        @for (int k = 0; k < 5 - item.HalisahaRank; k++)
                        {
                            <span class="text-warning">&#9734;</span>
                        }
                        @item.HalisahaRank
                        @if (Session["kullanici"] != null)
                        {
                            <a href="@Url.Action("RandevuAl","Home", new { id= item.HalisahaID })">
                                <button type="button" class="randevual btn btn-outline-info btn-sm">Randevu al</button>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("GirisYap","Home")" class="randevual" style="color:darkred;">Randevu İçin Giriş Yapın</a>
                        }

                    </div>
                </div>

            </div>


        }

        <!--
        http://placehold.it/900x400
        -->

    </div>
</div>
