﻿
@{
    ViewBag.Title = "Iletisim";
}



<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Bizimle <small>İletişime Geçin</small>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Adınız
                                </label>
                                <input type="text" class="form-control" id="name" placeholder="Adınızı Giriniz" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    E-mail Adresinizi Giriniz 
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="E-mail Adresinizi Giriniz" required="required" />
                                </div>
                            </div>
                         
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Mesajınız
                                </label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                          placeholder="Mesajınızı Giriniz"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend>Ofisimiz</legend><hr />
                <address>
                   Serdivan/Sakarya<br>
                    <abbr title="Phone">
                        Telefon: 
                    </abbr>
                    0538 083 74 14
                </address>
                <address>
                    <strong>E-mail Adres</strong><br>
                    <a href="mailto:aytekinerlale@gmail.com">aytekinerlale@gmail.com</a>
                </address>
            </form>
        </div>
    </div>
</div>
