﻿
@{
    ViewBag.Title = "HalisahaEkle";
}

<br /><br /><br /><br /><br /><br /><br />
<div>
    
    @using (Html.BeginForm("HalisahaEkle", "AdminHome", FormMethod.Post, htmlAttributes: new { id = "", @class = "was-validated", enctype = "multipart/form-data" }))
    {
        <div class="container">

            <!--
                       İSİM İNPUTU
              -->


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">İsim</label>
                        <div class="col-10">
                            <input class="form-control" name="HalisahaAdi" type="text" placeholder="Halisaha ismi giriniz..." id="example-text-input">
                        </div>
                    </div>
                </div>
            </div>
        
        <!--
                           TEXT AREA ADRES İNPUTU    
        -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Adres</label>
                        <div class="col-10">      
                                <textarea name="HalisahaAdres" class="form-control" placeholder="Halisaha Adresi Giriniz..." id="exampleTextarea" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div/>

            <!--
                                     İSİM İNPUTU
             -->


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="example-password-input" class="col-2 col-form-label">Telefon</label>
                        <div class="col-10">
                            <input class="form-control" name="HalisahaTelNo" type="text" placeholder="Halisaha Telefon No giriniz..." id="example-password-input">
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Sahibi</label>
                        <div class="col-10">
                            <input class="form-control" name="HalisahaSahibi.KullaniciID" type="text" placeholder="Halisaha Sahibi giriniz..." id="example-text-input">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="example-tel-input" class="col-2 col-form-label">Ucret</label>
                        <div class="col-10">
                            <input class="form-control" name="HalisahaUcret" type="tel" placeholder="Halisaha Ücreti giriniz..." id="example-tel-input">
                        </div>
                    </div>

                </div>

            </div>


            <div class="row">
                <div class="col-lg-6" align="right">
                    <label class="custom-file">
                        <input type="file" name="HalisahaResimYol" id="file" class="custom-file-input" required>
                        <span class="custom-file-control">
                            Bir Dosya seçiniz
                        </span>
                    </label>

                </div>

                </div>
            
            <br/>

            <div class="row">
                <div class="col-md-6" align="right">
                    <button style="width:40%;" type="submit" class="btn btn-outline-success btn-lg">   Kayıt Et</button>

                </div>

            </div>
            </div>

     }

        </div>


