﻿
@{
    ViewBag.Title = "Halisahalar";
}

@using web_odevii.Models
@model IEnumerable<Halisaha>

<br/><br /><br /><br /><br /><br /><br />
<a style="text-decoration:none;" href="@Url.Action("HalisahaEkle","AdminHome")">
    <button type="button" class="btn btn-success btn-block">Yeni Halisaha Ekle</button>
</a>

<br />

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="table-success">
                        <th scope="col">ID</th>
                        <th scope="col">Adı</th>
                        <th scope="col">Adres</th>
                        <th scope="col">İşletmeci Id</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Ucret</th>

                        <th>Sil</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="table-success">
                        <th scope="col">ID</th>
                        <th scope="col">Adı</th>
                        <th scope="col">Adres</th>
                        <th scope="col">İşletmeci Id</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Ucret</th>

                        <th>Sil</th>
                        <th>Düzenle</th>
                    </tr>
                </tfoot>



                @foreach (var item in Model)
                {
                    <tr class="table-secondary">
                        <th>@item.HalisahaID</th>

                        @if (item.HalisahaAdi.Length > 30)
                        {
                            <td>@item.HalisahaAdi.Substring(0, 28) ...</td>
                        }
                        else
                        {
                            <td>@item.HalisahaAdi</td>
                        }
                        @if (item.HalisahaAdres.Length > 30)
                        {
                            <td>@item.HalisahaAdres.Substring(0,28) ...</td>
                        }
                        else
                        {
                            <td>@item.HalisahaAdres</td>
                        }
                       
                        <td>@item.HalisahaTelNo</td>
                        <td>@item.HalisahaUcret</td>
                        
                        <td>
                            <a href="@Url.Action("HalisahaSil", "AdminHome", new { id = item.HalisahaID })">
                                <button type="button" class="btn btn-outline-danger btn-sm">Sil</button>
                            </a>
                        </td>

                        <td>
                            <a href="@Url.Action("HalisahaDuzenle", "AdminHome", new { id = item.HalisahaID })">
                                <button type="button" class="btn btn-outline-primary btn-sm">Düzenle</button>
                            </a>
                        </td>

                    </tr>
                }
                
            </table>
        </div>
    </div>
</div>

