﻿
@{
    ViewBag.Title = "Randevular";
}
@using  web_odevii.Models
@model IEnumerable<Randevu>

<br /><br /><br /><br /><br /><br /><br />


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="table-success">
                        <th>Nadewdwme</th>
                        <th>Pdewdosition</th>
                        <th>Offdewdice</th>
                      
                    </tr>
                </thead>
                <tfoot>
                    <tr class="table-success">
                        <th>Nadewdwme</th>
                        <th>Pdewdosition</th>
                        <th>Offdewdice</th>
                        
                    </tr>
                </tfoot>
               
                    <tr>
                        @foreach (var item in Model)
                        {
                           <td>@item.KullaniciId</td>
                           <td>@item.HalisahaId</td>
                           <td>@item.RandevuTarih</td>
                        }
                       
                    </tr>
                
            </table>
        </div>
    </div>
</div>