﻿
@{
    ViewBag.Title = "UyeOl";
}


<head>
    <link href="~/Contect/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Üye Ol</div>
            <div class="card-body">                
@using (Html.BeginForm("UyeOl", "Home", FormMethod.Post, htmlAttributes: new { id = "", @class = "was-validated", enctype = "multipart/form-data" }))
{
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputName">Adı</label>
                                <input class="form-control" id="Ad" name="KullaniciAdi" type="text" aria-describedby="nameHelp" placeholder="Adınızı Giriniz">
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputLastName">Soyad</label>
                                <input class="form-control" id="Soyad" name="KullaniciSoyadi" type="text" aria-describedby="nameHelp" placeholder="Soyadınızı Giriniz">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputEmail1">Email Adresi</label>
                                <input class="form-control" id="Email" type="email" name="KullaniciEmail" aria-describedby="emailHelp" placeholder="E-mail Adresinizi Giriniz">

                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputLastName">Telefon</label>
                                <input class="form-control" id="tel" name="KullaniciTelefonNo" type="text" aria-describedby="nameHelp" placeholder="Telefon Numarınızı Giriniz">
                            </div>
                        </div>

                 
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">Parola</label>
                                <input class="form-control" id="parola" name="KullaniciParola" type="password" placeholder="Parola">
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Parolayı Onayla</label>
                                <input class="form-control" id="parola1" name="KullaniciParola2" type="password" placeholder="Parolayı Onayla">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" onclick="return BosKontrol()"  type="submit" >Üye Ol</button>

                    if (ViewBag.email != null)
                    {
                        <div class="text-center" style="font-family:'Arial Unicode MS'; color:red;">
                            @ViewBag.email
                        </div>
                    }
                    if (ViewBag.bosluk != null)
                    {
                        <div class="text-center" style="font-family:'Arial Unicode MS'; color:red;">
                            @ViewBag.bosluk
                        </div>
                    }

 }                  

              
            </div>
        </div>
    </div>

<script type="text/javascript">
    {
        function BosKontrol() {

            if (document.getElementById("Ad").value == "") {
                alert("Ad Textbox'ı Boş Bırakılamaz!");
            }
            else if (document.getElementById("Soyad").value == "") {
                alert("Soyad Textbox'ı Boş Bırakılamaz!");
            }
            else if (document.getElementById("Email").value == "") {
                alert("E-mail Textbox'ı Boş Bırakılamaz!");
            }

            else if (document.getElementById("tel").value == "") {
                alert("Telefon Textbox'ı Boş Bırakılamaz!");
            }

            else if (document.getElementById("parola").value == "") {
                alert("Parola Textbox'ı Boş Bırakılamaz!");
            }

            else if (document.getElementById("parola1").value == "") {
                alert("Parola Textbox'ı Boş Bırakılamaz!");
            }
            if (document.getElementById("parola").value != document.getElementById("parola1").value) {
                alert("Girdiğiniz Şifreler Eşleşmemektedir.");
            }

        }

        
}

    </script>
