﻿@{
    ViewBag.Title = "Kullanicilar";
}


@using web_odevii.Models
@model IEnumerable<Kullanici>
@{
    ViewBag.Title = "Kullanicilar";
}
<br /><br /><br /><br /><br /><br /><br />
<a style="text-decoration:none;" href="@Url.Action("KullaniciEkle","AdminHome")">
    <button type="button" class="btn btn-success btn-block">Yeni Kullanıcı Ekle</button>
</a>

<br />


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="table-success">
                        <th scope="col">ID</th>
                        <th scope="col">Adı</th>
                        <th scope="col">Soyadı</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Parola</th> 
                        <th scope="col">Telefon</th>
                        <th scope="col">yetkisi</th>

                        <th>Sil</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="table-success">
                        <th scope="col">ID</th>
                        <th scope="col">Adı</th>
                        <th scope="col">Soyadı</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Parola</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">yetkisi</th>

                        <th>Sil</th>
                        <th>Düzenle</th>
                    </tr>
                </tfoot>

               

                   @foreach (var item in Model)
                   {
                    <tr class="table-secondary">
                        <th scope="row">@item.KullaniciID</th>
                        <td>@item.KullaniciAdi</td>
                        <td>@item.KullaniciSoyadi</td>
                        <td>@item.KullaniciEmail</td>
                        <td>@item.KullaniciParola</td>
                        <td>@item.KullaniciTelefonNo</td>
                        <td>@item.KullaniciYetki</td>

                        <td>
                            <a href="@Url.Action("KullaniciSil", "AdminHome", new { id = item.KullaniciID })">
                                <button type="button" class="btn btn-outline-danger btn-sm">Sil</button>
                            </a>
                        </td>

                        <td>
                            <a href="@Url.Action("KullaniciDuzenle", "AdminHome", new { id = item.KullaniciID })">
                                <button type="button" class="btn btn-outline-primary btn-sm">Düzenle</button>
                            </a>
                        </td>

                    </tr>
                    }
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

