﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sakarya Halısaha</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Contect/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    

    <link href="~/Contect/css/shop-item.css" rel="stylesheet" />
    <!-- Ek Still-->

    <link href="~/Contect/css/stil.css" rel="stylesheet" />

    <link href="~/Contect/css/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("head",false)
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Content/#">Sakarya Halısaha</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Content/#">
                            Anasayfa
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item navbar-left">
                        <a class="nav-link" href="/Content/#">İletişim</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Content/#"><span class="glyphicon glyphicon-user"></span>Giriş yap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Content/#">Üye ol</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    
     <br/>
     <br />
     <hr/>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; Sakaryahalisaha.com 2017</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->

    <script src="~/Contect/jquery/jquery.js"></script>

    <script src="~/Contect/popper/popper.js"></script>
    <script src="~/Contect/js/bootstrap.min.js"></script>
    @RenderSection("script",false)
</body>
</html>
