﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sakarya Halısaha</title>

    <script src="http://modernizr.com/downloads/modernizr-latest.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

    <!-- Ignite UI Loader JavaScript File -->
    <script src="http://cdn-na.infragistics.com/jquery/20141/latest/js/infragistics.loader.js"></script>
    <script src="http://cdn-na.infragistics.com/jquery/20141/latest/js/modules/i18n/regional/infragistics.ui.regional-i18n.js"></script>



    <!-- Bootstrap core CSS -->
    <link href="~/Contect/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->


    <link href="~/Contect/css/shop-item.css" rel="stylesheet" />
    <!-- Ek Still-->

    <link href="~/Contect/css/stil.css" rel="stylesheet" />

    <link href="~/Contect/css/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Anasayfa", "Home")">Sakarya Halısaha</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Anasayfa", "Home")">
                            Anasayfa

                        </a>
                    </li>
                    <li class="nav-item navbar-left">
                        <a class="nav-link" href="@Url.Action("Iletisim", "Home")">İletişim</a>
                    </li>

                    @if (Session["kullanici"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("CikisYap", "Home")">
                                <button type="button" class="btn btn-outline-danger btn-sm">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    @Session["kullanici"]
                                </button>
                            </a>
                        </li>
                    }
                    else
                    {


                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("GirisYap","Home")">
                                <button type="button" value="Giris Yap" class="btn btn-outline-success btn-sm">
                                    <i class="fa fa-sign-out" aria-hidden="true"> </i>
                                    Giriş yap
                                </button>

                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("UyeOl","Home")">


                                <button type="button" value="Uye Ol" class="btn btn-outline-info btn-sm">
                                    <i class="fa fa-sign-out" aria-hidden="true"> </i>
                                    Uye Ol
                                </button>

                            </a>
                        </li>













                    }



                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()




    <br />
    <br />
    <hr />
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; Sakaryahalisaha.com 2017</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Contect/jquery/jquery.js"></script>

    <script src="~/Contect/popper/popper.js"></script>
    <script src="~/Contect/js/bootstrap.min.js"></script>

    @RenderSection("script", false)
</body>
</html>
