﻿
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
          
            <div class="card mt-4 aaalink">
                <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                <div class="card-body">
                    <a href="#" style="text-decoration:none;"> <h3 class="card-title">Sakarya Halısaha </h3></a>
                    <h4>100 ₺</h4>
                    <p class="card-text">Adres: Yağcılar Mahallesi, 54030 Adapazarı/Sakarya</p>
                    <p class="card-text">Telefon: (0264) 272 72 18</p><br />
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9734; &#9734;</span>
                    3.0
                    <button type="button" class="randevual btn btn-secondary btn-sm">Randevu al</button>
                </div>
            </div>
         
        </div>

        <div class="col-lg-6">
            <div class="card mt-4 aaalink">
                <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                <div class="card-body">
                    <a href="#" style="text-decoration:none;"> <h3 class="card-title">Sakarya Halısaha </h3></a>
                    <h4>100 ₺</h4>
                    <p class="card-text">Adres: Yağcılar Mahallesi, 54030 Adapazarı/Sakarya</p>
                    <p class="card-text">Telefon: (0264) 272 72 18</p><br/>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9734; &#9734;</span>
                    3.0
                    <button type="button" class="randevual btn btn-secondary btn-sm">Randevu al</button>
                </div>
            </div>

            
        </div>
  
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card mt-4 aaalink">
                <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                <div class="card-body">
                    <a href="#" style="text-decoration:none;"> <h3 class="card-title">Sakarya Halısaha </h3></a>
                    <h4>100 ₺</h4>
                    <p class="card-text">Adres: Yağcılar Mahallesi, 54030 Adapazarı/Sakarya</p>
                    <p class="card-text">Telefon: (0264) 272 72 18</p><br/>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9734; &#9734;</span>
                    3.0
                    <button type="button" class="randevual btn btn-secondary btn-sm">Randevu al</button>
                </div>
            </div>

         
        </div>

        <div class="col-lg-6">
            <div class="card mt-4 aaalink">
                <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                <div class="card-body">
                    <a href="#" style="text-decoration:none;"> <h3 class="card-title">Sakarya Halısaha </h3></a>
                    <h4>100 ₺</h4>
                    <p class="card-text">Adres: Yağcılar Mahallesi, 54030 Adapazarı/Sakarya</p>
                    <p class="card-text">Telefon: (0264) 272 72 18</p><br/>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9734; &#9734;</span>
                    3.0
                    <button type="button" class="randevual btn btn-secondary btn-sm">Randevu al</button>
                </div>
            </div>

            
        </div>

    </div>

</div>

