﻿
@{
    ViewBag.Title = "KullaniciDuzenle";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";

}


@using web_odevii.Models
@model Kullanici
<br /><br /><br /><br /><br /><br /><br />
@using (Html.BeginForm("KullaniciDuzenle", "AdminHome", FormMethod.Post, htmlAttributes: new { id = "", @class = "was-validated", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x=> x.KullaniciID)


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">İsim</label>
                    <div class="col-10">
                        <input class="form-control" name="KullaniciAdi" type="text" value="@Model.KullaniciAdi" placeholder="İsim giriniz..." id="example-text-input">
                    </div>
                </div>

            </div>
        </div>


    </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">Soyisim</label>
                        <div class="col-10">
                            <input class="form-control" name="KullaniciSoyadi" type="search" value="@Model.KullaniciSoyadi" placeholder="Soyisim giriniz..." id="example-search-input">
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">E-mail</label>
                        <div class="col-10">
                            <input class="form-control" type="email" name="KullaniciEmail" value="@Model.KullaniciEmail" placeholder="E-mail Adresi giriniz..." id="example-email-input">
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="example-password-input" class="col-2 col-form-label">Parola</label>
                        <div class="col-10">
                            <input class="form-control" name="KullaniciParola" type="password" placeholder="Parola giriniz..." id="example-password-input">
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="example-tel-input" class="col-2 col-form-label">Telefon</label>
                        <div class="col-10">
                            <input class="form-control" name="KullaniciTelefonNo" type="tel" value="@Model.KullaniciTelefonNo" placeholder="Telefon giriniz..." id="example-tel-input">
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-6" align="right">
                    <select style="width:40%;" name="KullaniciYetki" class="custom-select d-block my-3" required>
                        Yetki
                        <option value="">Lütfen Yetki Seçiniz</option>
                        <option value="admin">Admin</option>
                        <option value="halisaha sahibi">Halisaha Sahibi</option>
                        <option value="Kullanici">Kullanici</option>
                    </select>

                </div>




            </div>

        </div>





        <!--

             Dosya seçme işlemi için

            <label class="custom-file">
             <input type="file" id="file" class="custom-file-input" required>
             <span class="custom-file-control">
               Bir Dosya seçiniz
             </span>
         </label>

            -->
        <div class="container">
            <div class="row">
                <div class="col-md-6" align="right">
                    <button style="width:40%;" type="submit" class="btn btn-outline-success btn-lg">   Kayıt Et</button>

                </div>

            </div>

        </div>





}



